* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.container-small {
  max-width: 800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #98939f;
}

ul, li {
  list-style: none;
}

i {
  margin: 0 5px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 13px 23px;
  border-radius: 20px;
  font-size: 0.8em;
}
.btn.btn-dodgeblue {
  background-color: #4154fe;
  color: white;
}
.btn.btn-transp {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 3px solid white;
  border-color: #2c2a35;
}
.btn.btn-newgreen {
  background-color: #41C457;
  color: white;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-165 {
  padding-top: 165px;
  padding-bottom: 165px;
}

.py-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.red-f {
  color: #ff414b;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-spacebet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-spacear {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-no-al {
  display: flex;
  flex-direction: column;
}

li {
  margin: 0 10px;
}
li .box-icon {
  background-color: yellow;
  border-radius: 2px;
  color: black;
  padding: 5px;
  font-size: 0.8em;
}
li:hover .btn-dodgeblue {
  background-color: #41C457;
  transition: all 0.5s;
}
li:hover a {
  color: white;
  transition: all 0.5s;
}

header {
  background-color: black;
  color: #98939f;
}
header .demo-buy {
  position: fixed;
  top: 100px;
  right: 20px;
}
header .demo-buy .quadrato {
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.15);
}
header .demo-buy .quadrato a {
  color: #33475b;
}
header .demo-buy .quadrato a i {
  font-size: 25px;
}
header .jumbotron {
  background-image: linear-gradient(90deg, #060607 45%, rgba(6, 6, 7, 0) 75%), url("../img/bg-jumbotron.jpg");
  background-size: cover;
}
header .jumbotron h1 {
  font-size: 70px;
  color: white;
  padding: 10px 0;
}
header .jumbotron p {
  padding: 10px 0;
  font-size: 21px;
}
header .jumbotron p i {
  color: yellow;
  font-size: 30px;
}
header .jumbotron button {
  padding: 20px 30px;
  border-radius: 35px;
}
header .jumbotron .button-jumbo:hover .btn-dodgeblue {
  background-color: #41C457;
  transition: all 0.5s;
}
header .jumbotron .button-jumbo:hover a {
  color: white;
  transition: all 0.5s;
}
header .jumbotron .button-traspa:hover .btn-transp {
  background-color: #fff;
  transition: all 0.5s;
}
header .jumbotron .button-traspa:hover a {
  color: black;
  transition: all 0.5s;
}
header .jumbotron .play {
  background-color: white;
  border-radius: 50%;
  padding: 40px;
  text-align: center;
}
header .jumbotron .play i {
  color: #4154fe;
  font-size: 20px;
}

li {
  margin: 0 10px;
}
li .box-icon {
  background-color: yellow;
  border-radius: 2px;
  color: black;
  padding: 5px;
  font-size: 0.8em;
}
li:hover .btn-dodgeblue {
  background-color: #41C457;
  transition: all 0.5s;
}
li:hover a {
  color: white;
  transition: all 0.5s;
}

.section-1 {
  background-image: linear-gradient(135deg, #0219eb, #d5000b);
  padding-bottom: 150px;
}
.section-1 .card {
  position: relative;
  top: -70px;
}
.section-1 .card .box-sect1 {
  position: relative;
  width: calc(100% / 3 - 20px);
  margin: 0 15px;
}
.section-1 .card .box-sect1 img {
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 50px 3px;
}
.section-1 .card .box-sect1 img:hover {
  transform: scale(1.05);
  transition: all 1s;
  box-shadow: 1px 15px 15px #000;
}
.section-1 .card .box-sect1 .group-text {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 30px;
  color: white;
}
.section-1 .card .box-sect1 .group-text .waves {
  width: 80px;
}
.section-1 .card .box-sect1 .group-text h3 {
  color: yellow;
}
.section-1 .citation {
  margin: 0 200px;
  color: white;
}
.section-1 .citation h1 {
  font-size: 40px;
}
.section-1 .citation p {
  font-size: 35px;
}
.section-1 .citation p i {
  color: yellow;
}
.section-1 .citation .athlete {
  width: 60px;
}
.section-1 .citation .athlete img {
  width: 100%;
  border-radius: 50%;
}

.section-2 {
  margin-bottom: 120px;
}
.section-2 .card {
  position: relative;
  top: -70px;
}
.section-2 .card .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
  padding: 40px;
  text-align: center;
}
.section-2 .card .play i {
  color: #4154fe;
  font-size: 20px;
}
.section-2 .card img {
  width: 100%;
  border-radius: 3px 3px 50px 3px;
}
.section-2 .width-50 {
  width: 50%;
}
.section-2 .text-sect2 {
  padding-left: 50px;
}
.section-2 .text-sect2 h3 {
  font-size: 30px;
  margin-bottom: 50px;
  color: #4154fe;
}
.section-2 .text-sect2 h1 {
  font-size: 50px;
}
.section-2 .text-sect2 p {
  font-size: 20px;
}
.section-2 .video-sect2 {
  width: calc(100% / 3 - 10px);
}
.section-2 .video-sect2 .play-img {
  position: relative;
}
.section-2 .video-sect2 .play-img .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
}
.section-2 .video-sect2 .play-img .play i {
  color: #4154fe;
}
.section-2 .video-sect2 img {
  width: 100%;
  border-radius: 3px 3px 50px 3px;
  margin-bottom: 30px;
}
.section-2 .video-sect2 h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000;
}
.section-2 .video-sect2 p {
  color: #4154fe;
  font-weight: bold;
}

.section-3 {
  background-image: linear-gradient(90deg, #060607 45%, rgba(6, 6, 7, 0) 75%), url("../img/banner1-2x.jpg");
  background-size: cover;
}
.section-3 h1 {
  font-size: 60px;
  color: white;
  padding: 10px 0;
  padding-right: 20vw;
}
.section-3 p {
  padding: 10px 0;
  font-size: 21px;
  color: #98939f;
  padding-right: 25vw;
}
.section-3 p i {
  color: yellow;
  font-size: 30px;
}
.section-3 button {
  padding: 20px 100px;
  border-radius: 35px;
}
.section-3 input {
  padding: 20px 0;
  border-radius: 35px;
  padding-left: 10px;
  padding-right: 450px;
  margin-right: 30px;
}

.section-4 {
  background-color: #000;
}
.section-4 .box-sect4 {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 5px solid blue;
  width: calc(100% / 3 - 60px);
  margin: 0 30px;
  padding: 30px 10px;
}
.section-4 .box-sect4:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.section-5 .video-sect5 {
  width: calc(100% / 3 - 10px);
}
.section-5 .video-sect5 img {
  width: 100%;
  margin-bottom: 30px;
}
.section-5 .video-sect5 img:hover {
  background-color: blue;
}
.section-5 .video-sect5 h4 {
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  color: #000;
}
.section-5 .video-sect5 p {
  font-weight: bold;
  padding-left: 20px;
}

.section-6 {
  background-image: linear-gradient(90deg, #060607 5%, rgba(5, 6, 7, 0) 75%), url("../img/banner2-2x.jpg");
  background-size: cover;
  color: #fff;
}
.section-6 h1 {
  font-size: 50px;
}
.section-6 p {
  margin: 20px auto;
  font-size: 20px;
}
.section-6 p i {
  color: yellow;
}

.section-7 .box-sect7 {
  background-color: rgba(0, 0, 0, 0);
  width: calc(100% / 4 - 60px);
  margin: 0 30px;
  padding: 30px 10px;
}
.section-7 .box-sect7 p {
  margin: 15px 0;
}

.section-8 {
  background-image: linear-gradient(140deg, rgba(6, 25, 231, 0.4) 35%, rgba(206, 1, 18, 0.4) 100%), url("../img/banner3-2x.jpg");
  background-size: cover;
  color: #fff;
}
.section-8 .play {
  background-color: white;
  border-radius: 50%;
  padding: 40px;
  text-align: center;
}
.section-8 .play i {
  color: #4154fe;
  font-size: 20px;
}
.section-8 h1 {
  font-size: 50px;
}
.section-8 h2 {
  color: yellow;
}
.section-8 p {
  margin: 20px auto;
  font-size: 20px;
}

footer {
  background-color: #000;
  color: #fff;
}
footer .line-bottom {
  border-bottom: 1px solid grey;
}
footer .line-bottom .box-footer {
  background-color: rgba(0, 0, 0, 0);
  width: calc(100% / 3 - 60px);
  margin: 0 30px;
}
footer .line-bottom .box-footer p {
  margin: 15px 0;
}
footer .line-bottom .box-footer .social-ic {
  color: #ff414b;
}
footer .line-bottom .box-footer li {
  margin: 10px 0;
}
footer .line-bottom .box-footer li a {
  color: #fff;
  font-size: 18px;
}
