* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: $font_family;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #98939f;
}

ul, li {
  list-style: none;
}

i {
  margin: 0 5px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 13px 23px;
  border-radius: 20px;
  font-size: 0.8em;
  &.btn-dodgeblue {
    background-color: #4154fe;
    color: white;
  }
  &.btn-transp {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 3px solid white;
    border-color: #2c2a35;
  }
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-165 {
  padding-top: 165px;
  padding-bottom: 165px;
}

.red-f {
  color: $text_red;
}
