.section-1 {
  background-image: linear-gradient(135deg, #0219eb, #d5000b);


  .card {
    position: relative;
    top: -70px;
    & .box-sect1 {
      width: calc(100% / 3 - 15px);
      margin: 0 15px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 0 0 50px 0;
      }
    }
  }
  .citation {
    margin: 0 100px;
    color: white;
  }
}
